<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <div class="row">
      <div id="sidebar" class="col-md-6 col-sm-6 col-xs-6"> aaaa</div>
      <div id="content" class="col-md-6 col-sm-6 col-xs-6">
         <p><%= notice %></p>
          <h1>Tweet一覧</h1>
<!--        <%= link_to "新規ツイート", new_tweet_path, class: 'btn btn-default' %> -->
        <% @tweets.each do |tweet| %>
          <p class="left box">hogehoge@id　&nbsp;&nbsp;  <%=  tweet.updated_at.to_s(:date) %><br>
            <%= tweet.content  %> <br>
          
          <%= link_to "編集", edit_tweet_path(tweet.id), class: 'btn btn-default btn-sm btn-success' %>
          <%= link_to "削除", tweet_path(tweet.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-default btn-sm btn btn-danger' %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>